<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Shop Backoffice Stats</title>
    <link th:href="@{/css/backoffice-styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <a th:href="@{/home1}">Marketplace1</a>
        <a th:href="@{/backoffice1}">Backoffice1</a>
        <a th:href="@{/home2}">Marketplace2</a>
        <a th:href="@{/backoffice2}">Backoffice2</a>
        <a th:href="@{/home3}">Marketplace3</a>
        <a th:href="@{/backoffice3}">Backoffice3</a>
        <a th:href="@{/backoffice3/stats}">Backoffice3 Stats</a>
    </div>
    <header class="header">
        <h1>Pizza Shop</h1>
        <h2>Menu</h2>
        <span>The finest pizzas</span>
    </header>
    <main>
        <div class="backofficeStats">
            <!--/*@thymesVar id="backofficeStats" type="backoffice.queries.StatsCQRS3.BackofficeStats"*/-->
            <div class="getQuantityImg">
                <span>Cantidad de pizzas creadas en el backoffice con la imagen "quad.png":</span>
                <span class="title" th:text="${backofficeStats.getQuantityImgDtoWhenCreatedPizza()}"></span>
            </div>

            <div class="stat-container">
                <div th:each="stats: ${backofficeStats.getStats()}" class="stats">
                    <span class="title" th:text="${stats.getClassName()}"></span>
                    <span class="title" th:text="${stats.getTime_stamp()}"></span>
                    <span class="price" th:text="${stats.getDatajson()}"></span>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>