<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Shop</title>
    <link href="./styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <a href="">Marketplace</a>
        <a href="">Backoffice</a>
    </div>
    <header class="header">
        <h1>Pizza Shop</h1>
        <h2>Menu</h2>
        <span>The finest pizzas</span>
    </header>
    <main>
        <div>
            <div class="pizza-box">
                <img alt="pizza-photo" src="assets/4Cheeses.png">
                <span class="title">Pizza 4Cheeses</span>
                <span class="price">4.99€</span>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>