body {
    background-color: cadetblue;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.pizzas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pizza-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.pizza-box .title {
    font-size: xx-large;
    font-weight: bold;
}

.pizza-box .price {
    font-size: x-large;
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 4px;
}