<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Shop</title>
    <link th:href="@{/css/backoffice-styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <a th:href="@{/}">Marketplace</a>
        <a href="">Backoffice</a>
    </div>
    <header class="header">
        <h1>Pizza Shop Backoffices</h1>
        <span>The finest pizzas</span>
    </header>
    <main>



        <!--/*@thymesVar id="addPizzaRequestDto" type="backoffice.commands.createPizza.AddPizzaRequestDto"*/-->
        <form class="form"
              action="#"
              th:action="@{/backoffice}"
              th:object="${addPizzaRequestDto}"
              method="post">
            <h2>Añade una nueva pizza</h2>
            <label>Nombre: </label>
            <input type="text" th:field="*{name}" required/>

            <label>Precio: </label>
            <input type="number" th:field="*{price}" required/>

            <label>Imagen: </label>
            <input type="text" th:field="*{img}" required/>

            <button type="submit">Añadir nueva pizza</button>
            <div class="fields">


            </div>
        </form>
    </main>
    <footer></footer>
</body>
</html>